  .linktooltip {
    width: 300px;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    color: white;
    position: absolute;
    z-index: 1;
    margin-left: calc(6%);
    border:1px solid black;
  }
  .linktooltip::after {
    content: " ";
    position: absolute;
    top: 16%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
 