
  <div class="page-wrapper">
      <h2>Change your password</h2>
      <div class="row">
          <div class="col-md-12">
              <div class="page-content ">
                  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">                     
                      <div class="form-group ">
                          <div class="input-group ">
                              <span class="input-group-addon "><i class="glyphicon glyphicon-lock "></i></span>
                              <input [type]="'password'" autocomplete="OldPassword" placeholder="Old Password " class="form-control" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                          </div>
                          <div class="input-group " style="height:20px; ">
                              <span *ngIf="submitted && f.oldPassword.errors" class="error ">Old Password is required.</span>
                              </div>
                          <div class="input-group ">
                              <span class="input-group-addon "><i class="glyphicon glyphicon-lock "></i></span>
                              <input [type]="'password'" autocomplete="current-password" placeholder="New Password " class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                          </div>
                          <div class="input-group " style="height:20px; ">
                              <span *ngIf="submitted && f.newPassword.errors" class="error ">New Password is required.</span>
                          </div> 
                          <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-lock "></i></span>
                            <input [type]="'password'" autocomplete="current-password" placeholder="Confirm Password " class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                         </div>
                         <div class="input-group " style="height:20px; ">
                            <span *ngIf="submitted && f.confirmPassword.errors" class="error ">Confirm Password is required.</span>
                            <span *ngIf="submitted && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch" class="error"></span>
                          </div>                         
                          <div class="input-group " style="display:block;margin:0 ">
                              <button class="btn btn-default btn-blue ">Submit</button>
                          </div>
                          <div style="text-align:left; "><alert></alert></div>                          
                          
                      </div>
                  </form>
              </div>
          </div>         
      </div>
      
 