<div class="row" *ngIf="isLoaded">
    <h3>Quality Control Report Details - {{item.sampleNo}}</h3>
        <hr />
    <div class="col-md-12">        
        <div class="row">
            <div class="col-md-3"><label> Control Number</label></div>
            <div class="col-md-6">
                {{item.sampleNo}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><label> Equipment Name</label></div>
            <div class="col-md-6">
                {{item.equipmentName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><label> Control Period</label></div>
            <div class="col-md-6">
                {{item.monthName}}
            </div>
        </div>
        <hr />
        <app-levey-jenning-chart [details]="item.details" [days]="item.days"></app-levey-jenning-chart>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div style="padding-left:6px; float:left;">
                    <a [routerLink]="['/quality-controls']" class="btn btn-default btn-default-alternet">Back to List</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
