<div>
    <br />
    <br />
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <h3 style="color:#FFF;text-align:left;">
                Forgot Password
            </h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 0 auto;">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input [type]="'email'" name="email" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    </div>
                    <div class="input-group " style="height:20px; ">
                        <span *ngIf="submitted && f.email.errors" class="error ">Email is required.</span>
                        <!--<span *ngIf="f.username.errors.email" class="error ">Invalid email address.</span>-->
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Submit" class="btn btn-default btn-blue" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <alert></alert>
    </div>
</div>
<div class="row" style="text-align: left;" ng-show="authCtrl.ShowReloginMessage">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span>Click <a [routerLink]='["/login"]'>here</a> to login.</span>
    </div>
</div>